/* ===== NAVBAR SUPERIOR ===== */
.navbar {
    width: 100%;
    background-color: #4a90e2; /* azul */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 40px;
}

.nav-item {
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.nav-item:hover {
    opacity: 0.7;
}

/* Estilo del item activo */
.nav-item.active {
    border-bottom: 3px solid white;
    padding-bottom: 5px;
}


body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    padding: 30px;
}
.container {
    max-width: 450px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
h1, h2 { text-align: center; }
.buttons { display: flex; flex-direction: column; gap: 10px; margin-bottom: 20px; }
.btn {
    background: #4a90e2;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}
.section { display: flex; flex-direction: column; gap: 10px; }
.oculto { display: none; }
button {
    background: #4a90e2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
input { padding: 8px; border: 1px solid #aaa; border-radius: 5px; }
